.button {
  height: 40px;
  margin: 10px;
  font-family: inherit;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.07em;
  background: none;
  color: var(--white);
  border: 1px solid var(--white);
  cursor: pointer;
  border-radius: 25px;
}

.button:focus {
  outline: none
}

.button:hover {
  background: var(--white);
  color: var(--blue)
} 

.button.large {
  width: 300px;
}

.button.medium {
  width: 175px;
}

.button.small {
  width: 130px;
}

.button.filled {
  background: var(--white);
  color: var(--blue);
}

.button.filled:hover {
  background: var(--blue);
  border: 1px solid var(--blue);
  color: var(--white);
}

@media(max-width: 600px) {
  .button:hover {
    background: none;
    color: var(--white);
  }

  .button.filled:hover {
    background: var(--white);
    color: var(--blue);
    border: 1px solid var(--blue);
  }
}