.text {
  font-family: 'Montserrat', sans-serif;
  color: var(--dark-black);
  position: relative;
  margin: 10px;
  top: 0;
}

.text.option {
  letter-spacing: 1.5px;
  font-size: 1rem;
  font-weight: 600;
}

.text.hero {
  font-size: 4.5rem;
  font-weight: 400;
}

.text.jumbo {
  font-size: 3rem;
  font-weight: 400;
}

.text.subtitle {
  line-height: 40px;
  font-size: 1.3rem;
  font-weight: 200;
}

.text.body {
  font-size: 2rem;
  font-weight: 400;
}

.text.fineprint {
  font-size: 0.8rem;
  font-weight: 200;
}

.text.light {
  color: var(--white);
}

.text.centered {
  text-align: center;
}

.text.mobile.hero {
  font-size: 1.5rem;
}

.text.mobile.jumbo {
  font-size: 1.5rem;
  font-weight: 400;
}

.text.mobile.subtitle {
  font-size: 1rem;
  line-height: initial;
  font-weight: 200;
}

.text.mobile.body {
  font-size: 0.5rem;
  font-weight: 200;
}

.text.mobile.option {
  font-size: 0.5rem;
  font-weight: 600;
}

@media(max-width: 1630px) {
  .text.hero {
    font-size: 3.5rem;
  }
}

@media(max-width: 1250px) {
  .text.hero {
    font-size: 3rem;
  }
}

@media(max-width: 1150px) {
  .text.hero {
    font-size: 2rem
  }
}