.third {
  padding-top: 50px;
  display: flex;
  align-items: center;
}

.third > .text-group {
  margin-top: 130px;
}

.third > .imac-disp {
  margin: 200px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.third > .imac-disp > .img-iMac {
  height: 650px;
  position: relative;
}

.third > .imac-disp > .card {
  height: 600px;
  width: 400px;
}

.third > .mobile-text-group {
  display: none;
  margin-top: 50px;
}

@media(max-width: 1250px) {
  .third > .imac-disp {
    margin-top: 250px;
  }

  .third > .imac-disp > .img-iMac {
    height: 500px;
  }

  .third > .imac-disp > .card {
    height: 475px;
    width: 300px;
  }
}

@media(max-width: 1050px) {
  .third > .imac-disp {
    margin-top: 100px;
  }
  .third > .imac-disp > .img-iMac {
    height: 400px
  }

  .third > .imac-disp > .card {
    height: 390px;
    width: 250px;
  }
}

@media(max-width: 915px) {
  .third >  .mobile-text-group {
    display: initial;
  }

  .third >  .text-group {
    display: none;
  }
}