.fifth.angled {
  margin-bottom: -300px;
  padding-top: 150px;
}

.fifth.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fifth.content > .text-group {
  width: 45%;
}

.fifth.content > .form {
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  background: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fifth.content > .form > .fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

@media(max-width: 1150px) {
  .fifth.content > .form > .fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
}

@media(max-width: 915px) {
  .fifth.content > .form > .fields {
    width: 100%;
  }
  .fifth.content > .form > .fields > .field {
    width: 90%;
  }
  
}

@media(max-width: 500px) {
  .fifth.angled {
    padding: 0;
    margin-bottom: -50px;
  }
}