.imac-disp {
  margin: 200px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.imac-disp > .img-iMac {
  height: 650px;
  position: relative;
}

.imac-disp > .card {
  height: 600px;
  width: 400px;
}

@media(max-width: 1250px) {
  .imac-disp {
    margin-top: 250px;
  }

  .imac-disp > .img-iMac {
    height: 500px;
  }

  .imac-disp > .card {
    height: 475px;
    width: 300px;
  }
}

@media(max-width: 1050px) {
  .imac-disp {
    margin-top: 100px;
  }
  .imac-disp > .img-iMac {
    height: 400px
  }

  .imac-disp > .card {
    height: 390px;
    width: 250px;
  }
}

@media(max-width: 600px) {
  .imac-disp > .img-iMac {
    height: 250px;
  }

  .imac-disp > .card {
    height: 200px;
    width: 120px;
  }
}

@media(max-width: 420px) {
  .imac-disp > .img-iMac {
    height: 150px;
  }

  .imac-disp > .card {
    height: 120px;
    width: 70px;
  }
}