.imac-disp {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 375px;
}

.imac-disp > .img-iMac {
  height: 650px;
  position: relative;
}

.imac-disp > .button {
  position: absolute;
  left: 8%;
  bottom: 60px;
}

@media(max-width: 1250px) {
  .imac-disp {
    top: 350px;
  }

  .imac-disp > .img-iMac {
    height: 500px;
  }

  .imac-disp > .button {
    left: 5.7%;
  }
}

@media(max-width: 1150px) {
  .imac-disp {
    top: 290px;
  }
}

@media(max-width: 1050px) {
  .imac-disp > .img-iMac {
    height: 400px
  }

  .imac-disp > .button {
    left: 8%;
    width: 100px;
  }
}

@media(max-width: 915px) {
  .imac-disp  {
    top: 275px; 
  }
}

@media(max-width: 750px) {
  .imac-disp > .img-iMac {
    height: 300px;
  }

  .imac-disp > .button {
    left: 5%;
    bottom: 25px;
  }
}

@media(max-width: 600px) {
  .imac-disp > .img-iMac {
    height: 250px;
  }
}

@media(max-width: 420px) {
  .imac-disp > .img-iMac {
    height: 150px;
  }
}