.card {
  background: var(--white);
  box-shadow: var(--main-shadow);
  border-radius: 3px;
  display: flex;
  position: relative;
  background-color: #eff6f9;
  
}

.card.jumbo {
  height: 940px;
  width: 100%;
  background: var(--main-gradient);
  /* z-index: 0; */
}

.card.angled {
  box-sizing: inherit;
  transform: skewY(2deg);
}

.card.angled > .content {
  width: 100%;
  height: 100%;
  transform: skewY(-2deg);
  display: flex;
  flex-direction: column;
  
}

.profile {
  height: 100px;
  width: 100px;
  padding-top: 10px;
  border-radius: 90;
  display: flex;
    margin-left: auto;
    margin-right: auto;
  justify-content: center;

}

.stars {
  height: 40px !important;
  width: 40px !important;
  display: flex !important;
    margin-left: auto;
    margin-right: auto;
  justify-content: center;
  padding-top: 250px;
}
