input {
  width: 500px;
  height: 40px;
  margin: 10px;
  font: inherit;
  font-size: 12px;
  color: var(--white);
  background: none;
  border: 1px solid var(--white);
  border-radius: 5px;
  padding: 5px 10px;
}

input::placeholder {
  color: var(--white);
}

select {
  box-sizing: inherit;
  background: none;
  border: 1px solid var(--white);
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px;
  height: 40px;
  width: 500px;
  font-family: inherit;
  font-size: 12px;
  color: var(--white);
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(242, 242, 242)' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'%3E%3C/path%3E%3C/svg%3E");
  background-position: calc(100% - 5px) 50%;
  background-repeat: no-repeat;
  background-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select::-ms-expand {
  display: none;
}