.second {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.second > .text-group {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.second > .lapadphone {
  position: relative;
  margin-top: 100px;
  margin-bottom: -70px;
  z-index: 1;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media(max-width: 1050px) {
  .second > .lapadphone {
    height: 500px;
  }
}

@media(max-width: 850px) {
  .second > .lapadphone {
    height: 400px;
  }
}

@media(max-width: 650px) {
  .second > .lapadphone{
    height: 300px;
  }
}

@media(max-width: 550px) {
  .second > .lapadphone {
    height: 150px;
  }
}