@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,600');
@import url('https://use.fontawesome.com/releases/v5.1.0/css/all.css');

:root {
  --blue: rgb(26, 132, 198);
  --light-blue: rgb(4, 109, 166);
  --dark-blue: rgb(13, 66, 99);
  --white: rgb(242, 242, 242);
  --dark-white: rgb(241, 249, 255);
  --black: rgb(74, 74, 74);
  --dark-black: rgb(0, 0, 0);

  --main-shadow: 0 10px 40px rgba(0, 0, 0, 0.45);

  --main-gradient: linear-gradient(var(--blue), var(--dark-blue));
}

body {
 overflow-x: hidden;
}

.App {
  max-width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* height: 200vh; */
  font-family: 'Montserrat', sans-serif;
  background: var(--white);
}

.App:after, .App:before {
  box-sizing: inherit;
}

a, li, ul {
  text-decoration: none;
  list-style-type: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

strong {
  color: var(--blue);
  font-weight: 400;
}